html, body{
     height: 100%;
     width: 100%;
     margin: 0%;
     padding: 0%;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.Live {
     height: 50px;
     width: 50px;
     background-color: rgb(255, 0, 115);
     border-radius: 50%;
     animation: Pulsing 3s linear infinite;

}

.Text {
     color: white;
     font-family: 'Roboto';
     font-size: 25px;
     font-weight: 500;
     margin: 40px;
}

@keyframes Pulsing {
     0%{
          box-shadow: rgb(255, 0, 115) 0 0 0 0;
     }

     20% {
          box-shadow: rgba(0, 0, 255, 0) 0 0 0 100px;
     }
}